.bg-light-grey{
    background-color: rgb(240, 228, 228)
}
.bg-light-red{
    background-color: rgb(190, 106, 106);
}
.bg-light-pink{
    background-color: navajowhite;
}
body{
    font-family: monospace;
}